[Desktop Entry]
Encoding=UTF-8
Name=Link to WPBuffs-Logo1-B.png
Type=Link
URL=imap://stan%40fakejson%2Ecom@imap.zoho.com:993/fetch%3EUID%3E/INBOX%3E170?part=1.5&filename=WPBuffs-Logo1-B.png
Icon=text-html
